%div{:id => @content[:id], :class =>"pin hatena"}
	=haml :individual_form
	%a{:href => @content[:bb_url], :target => "_blank"}= @content[:bb_title]
	%br
	%span{:class => "time"}= @content[:bb_issued]
	%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag
	= haml :ref_form