%div{:id => @content[:id], :class =>"pin evernote"}
	=haml :individual_form
	%div{:id => "snippet"}
		%div{:id => "title"}= @content[:note_title]
		%div{:id => "body"}
			= @content[:snippet]
	%p{:id => "viewall"} ViewAll→
	%span{:class => "time"}= @content[:evernote_time]
	%span{:class => "submit_individual"}= "詳細を見る"
	%div{:class => "modal hide fade", :id => "allcontent" , :tabindex => "-1", :role => "dialog", :'aria-labelledby' => "ModalLabel", :'aria-hidden' => "true"}
		%div{:class => "modal-header"}
			%button{:type =>"button", :class =>"close", :'data-dismiss' => "modal", :'aria-hidden' => "true"}x
			%h3{:id => "ModalLabel"}= @content[:note_title]
		%div{:class => "modal-body"}
			%div= @content[:content]
		%div{:class => "modal-footer"}
			%a{:href => @link, :class =>"btn", :target => "_blank"}Edit
			%button{:class =>"btn", :'data-dismiss' => "modal", :'aria-hidden' => "true"}Close
	= haml :tag
	= haml :ref_form