%div{:id => "main"}
	-case @content[:app]
		-when "twitter_h"
			= haml :twitter_h
		-when "twitter_f"
			= haml :twitter_f
		-when "tumblr"
			= haml :tumblr
		-when "instagram"
			= haml :instagram
		-when "hatena"
			= haml :hatena
		-when "evernote"
			= haml :evernote
		-when "rss"
			= haml :rss
%hr
%div{:id => "relate"}
	%div{:id => "wrapper"}
		%div{:id => "columns"}
			%p= "HELLO"