%div{:id => @content[:id], :class =>"pin instagram"}
	%form{:id => "individual_" + @content[:id].to_s,:class => "individual", :method => "post", :action => "/individual"}
		%input{:type => "hidden", :name => "instagram_data_id", :value => @content[:id]}
	%img{:src => @content[:instagram_img_url], :id => "instagram_img"}
	%p= @content[:instagram_text]
	%span{:class => "time"}= @content[:instagram_time]
	%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag
	= haml :ref_form