%div{:id => @content[:id], :class =>"pin rss"}
	=haml :individual_form
	%a{:href => @content[:rss_url], :target => "_blank"}= @content[:rss_title]
	%p= @content[:rss_description]
	%span{:class => "time"}= @content[:rss_date]
	%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag
	= haml :ref_form