%div{:id => @content[:id], :class =>"pin tumblr"}
	=haml :ref_and_remove
	-case @content[:type]
		-when "text"
			%p= @content[:post_title]
			%p= @content[:body]
		-when "photo"
			-if @content[:layouts]
				%div{:id => "photoset"}
					-i = 0
					-@content[:layout].each do |num|
						%div{:class => "row"+num}
							-j = 0
							-while j < num.to_i
								- j = j + 1
								%img{:src => @content[:imgarr][i].alt_sizes[0].url, :class => "photo"+num+" line"+num+j.to_s}
								- i = i + 1
			-else
				%div{:id => "photo"}
					%img{:src => @content[:imgarr][0].alt_sizes[1].url, :class => "photo"}
			%p= @content[:caption]
		-when "quote"
			%p= @content[:text]
			%p= @content[:source]
		-when "link"
			%p= @content[:post_title]
			%p= @content[:url]
			%p= @content[:description]
		-when "chat"
			%p= @content[:post_title]
			%div{:id => "chat"}
				%table
					%tbody
						-@content[:dialogue].each do |post|
							%tr
								%td= post.phrase
		-when "audio"
			%div{:id => "code"}= @content[:code]
			%div{:id => "caption"}= @content[:caption]
		-when "video"
			%div{:id => "title"}= @content[:blogtitle]
			%div{:id => "code"}= @content[:code]
			%div{:id => "caption"}= @content[:caption]
	%span{:class => "time"}= @content[:tumblr_time]
	%a{:href => @content[:url], :target => "_blank", :class => "detail"}= "詳細を見る"
	= haml :tag