%div{:id => @content[:id], :class =>"pin twitter"}
	=haml :individual_form
	=haml :ref_and_remove
	%div{:class => "twitter_user"}
		%img{:src => @content[:twitter_img_url], :class => "icon"}
		%p{:class => "username"}= @content[:twitter_user_name]
		%p{:class => "screenname"}= "@" + @content[:twitter_screen_name]
	%div{:class => "tweet"}
		%p{:class => "text"}= @content[:twitter_text]
		%span{:class => "time"}= @content[:twitter_time]
		%span{:class => "submit_individual"}= "詳細を見る"
	= haml :tag