%div{:id => @content[:id], :class =>"pin twitter"}
	%form{:id => "individual_" + @content[:id].to_s, :class => "individual", :method => "post", :action => "/individual"}
		%input{:type => "hidden", :name => "twitter_home_data_id", :value => @content[:id]}
	%div{:class => "twitter_user"}
		%img{:src => @content[:twitter_img_url], :class => "icon"}
		%p{:class => "username"}= @content[:twitter_user_name]
		%p{:class => "screenname"}= "@" + @content[:twitter_screen_name]
	%div{:class => "tweet"}
		%p{:class => "text"}= @content[:twitter_text]
		%span{:class => "time"}= @content[:twitter_time]
		%span{:class => "submit_individual"}= "詳細を見る"
	%div{:class => "twitter_home_tags"}
		%div{:class => "view"}
			%div{:class => "twitter_home_tags_view"}
				-@content[:twitter_tag_array].each do |elem|
					%a{:href => "/" + elem + "/1", :class => "tag"}= elem
			%span{:id => "twitter_home_edit_open", :class => "twitter_home_edit_toggle edit_toggle"}
				%i{:class => "icon-edit"}
		%div{:class => "edit", :id => "twitter_home_edit"}
			%p Tag Edit
			%form{:class => "twitter_home_edit_form"}
				%input{:type => "text", :name => "twitter_home_tag_edit", :value => @content[:twitter_tag_concat]}
				%input{:type => "hidden", :name => "data_id", :value => @rand_fav_id}
				%button{:type => "submit", :class => "btn"}
					%i{:class => "icon-share-alt"}
				%span{:id => "twitter_home_edit_close", :class => "btn twitter_home_edit_toggle"}
					%i{:class => "icon-remove"}
	%div{:class => "refrection"}
		%form{:class => "twitter_home_ref_form"}
			%input{:type => "hidden", :name => "twitter_home_data_id", :value => @content[:id]}
			%input{:type => "hidden", :name => "ref_count", :value => @content[:twitter_home_ref_count]}
			%button{:type => "submit",:class => "ref-btn ui-btn-up-e ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext"}
				%span{:class => "ui-btn-inner"}
					%span{:class => "ui-btn-text"}Heart
					%span{:class => "ui-icon ui-icon-flat-heart ui-icon-shadow"}
			%span{:class => "twitter_home_ref_count"}= @content[:twitter_home_ref_count]