%div{:id => @content[:id], :class =>"pin instagram"}
	=haml :ref_and_remove
	%img{:src => @content[:flickr_img_url], :id => "flickr_img"}
	%p= @content[:flickr_title]
	%div{:class => "description"}= @content[:flickr_text]
	%span{:class => "time"}= @content[:flickr_time]
	%a{:href => @content[:url], :target => "_blank", :class => "detail"}= "詳細を見る"
	= haml :tag