%a{:id => "refresh", :href => "/main"}Refresh
%div{:id => "content"}
	%div{:id => "scrollbar",:class => "scrollbar"}
		%div{:class => "handle"}
	%div{:id => "frame", :class => "frame"}
		%ul{:class => "slidee"}
			%li= "aaa"
			%li= "bbb"
			%li= "ccc"
			%li= "ddd"
			%li= "eee"
			%li= "fff"
	%ul{:class => "pages"}
		%li
