%div{:id => "columns"}
	-@contents_array.each do |elem|
		-@content = elem
		-case elem[:app]
			-when "twitter_f"
				= haml :twitter_f
			-when "twitter_h"
				= haml :twitter_h
			-when "twitter_m"
				= haml :twitter_m
			-when "twitter_u"
				= haml :twitter_u
			-when "tumblr"
				= haml :tumblr
			-when "instagram"
				= haml :instagram
			-when "flickr"
				= haml :flickr
			-when "flickr_f"
				= haml :flickr_f
			-when "hatena"
				= haml :hatena
			-when "evernote"
				= haml :evernote
			-when "rss"
				= haml :rss
			-when "browser_bookmarks"
				= haml :browser_bookmark